<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="well text-center">
      <h1 class="text-center">Ready to sign up?</h1>
      <br>
      <h4>By signing up you will be able to:</h4>
      <ul class="list-group">
      	<li class="convert-list">Get access to fantastic itineraries for cities across the world</li>
      	<li class="convert-list">Add you own itineraries and share them with other users</li>
      </ul>
      <br>
      <h4>Signing up is free!</h4>
      <br>
      <%= link_to 'Sign Up', '/signup', class: "btn btn-default" %>
    </div>
  </div>
</div>