/*
// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
html{
  min-height:100%;
  position:relative;
}

body{
  height:100%;
}

.city-container {
	margin: -30px 0 0 0;
	padding: 0;
}

#city {
	height: 100%;
	margin: -50px 0 0 0;
}

#city-info {
	position: absolute;
	z-index: -1;
	height: 100%;
	background-color: #d9d9d9;
	clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
	background-color: #262626;
}

#city-info h3 {
	color: white;
}

#city-pic {
	width: 200px;
	height: 200px;
	margin: 50px 0 0 50px;
}

.city-name {
	margin: 30px 0 0 50px;
	font-family: 'Poiret One', cursive;
}

.city-link {
	color: black;
}

.read-more-link {
	color: #23527c !important;
}

#infinite-scrolling {
	padding: 0px;
}